@import '../utils/_mixins';
@import '../utils/_variables';

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
	background: #fff;
	max-width: 1920px;
	font-weight: 300;
	min-height: 100%;
	line-height: 1;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: auto !important;
	margin-right: auto !important;
	
	color: #333;
}



/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; 
	
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}
blockquote, q {
	quotes: none;
}
li{
	list-style-type: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

html {
	height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

input,
textarea {
	color: #333;
	font-family: $base-font-family;
	outline: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

input[type="button"],
input[type="submit"],
button {
	cursor: pointer
}

td {
	margin: 0px;
	padding: 0px;
}

form {
	padding: 0px;
	margin: 0px;
}

a {
	color: #333333;
	@include transition($default-transition);
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
	outline: none!important
}

input[type=submit],
input[type=button],
button {
	-webkit-appearance: none;
	outline: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.container{
	width: 100%;
	margin: 0 auto;
}
.cols{
	float: left;

	
	
}
.clearfix{
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
//form-style
/***********************************
 * Layout
 ***********************************/
.wSelect-el {
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
	overflow: hidden;
}
.wSelect {
	position: relative;
	display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.wSelect-arrow {
	position: absolute;
	width: 30px;
	right: 0px;
	top: 0px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0px center;
}
.wSelect-hover .wSelect-arrow,
.wSelect-active .wSelect-arrow  {
	background-position: -120px -5px;
}
.wSelect.wSelect-multiple {
	overflow: hidden;
}
.wSelect-selected {
	margin: 0px 35px 0px 8px;
	padding: 5px 0;
	overflow: hidden;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.wSelect-options-holder {
	position: absolute;
	display: none;
	left: 0px;
	z-index: 200;
	overflow: hidden;
}
.wSelect-multiple .wSelect-options-holder {
	position: relative !important;
	display: block !important;
	top: auto !important;
	z-index: auto !important;
	border: none !important;
}
.wSelect-options {
	overflow-y: scroll;
	overflow-x: hidden;
}
.wSelect-option {
	background-repeat: no-repeat;
	background-position: 5px center;
	margin-bottom: 1px;
	cursor: pointer;
}
.wSelect-option-last {
	margin-bottom: 0px;
}
.wSelect-option-value {
	margin: 0 5px;
	padding: 5px 0;
	background-repeat: no-repeat;
	background-position: 0 center;
	white-space: nowrap;
	overflow: hidden;
}
.wSelect-option-disabled .wSelect-option-value {
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.wSelect-option-icon {
	padding-left: 58px;
	line-height: 30px;
	font-size: 15.81px;
	font-weight: 400;
	letter-spacing: 0.1px;
}

/***********************************
 * Theme - classic
 ***********************************/
.wSelect-theme-classic.wSelect {
	border: solid #CCC 1px;
    color: #555;
    background-color: #FAFAFA;	
	font-size: 12px;
	font-family: verdana;
	line-height: 20px;
	min-width: 100px;
	max-width: 300px;
	margin-bottom: 7px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.wSelect-arrow {
	background-image: url(../../img/sprite.png);
    background-position: -120px -5px;
}
.wSelect-theme-classic.wSelect-hover,
.wSelect-theme-classic.wSelect-active {
    border-color: rgb(82, 168, 236);
    border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.wSelect-theme-classic .wSelect-options-holder {
	background-color: #FAFAFA;
	border: solid #CACACA 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	min-width: 100px;
	max-width: 300px;
}
.wSelect-theme-classic .wSelect-options {
	border: solid #FAFAFA 1px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.wSelect-theme-classic .wSelect-option {
	background-color: #FFF;
	color: #333;
}
.wSelect-theme-classic .wSelect-option-disabled {
	background-color: #FFF !important;
	color: #333 !important;	
}
.wSelect-theme-classic .wSelect-option-selected,
.wSelect-theme-classic .wSelect-option:hover {
	background-color: #99AAFF;
	color: #FAFAFA;
}

/***********************************
 * Labels
 ***********************************/
.wLabel-top,
.wLabel-left,
.wLabel-left-top {
    vertical-align: middle;
    font-size: 10px;
    line-height: 16px;
    color: #999;
    display: block;
    margin: 5px 0 3px 3px;
}
.wLabel-left-top {
    vertical-align: top;
}
@media screen and (min-width: 600px) {
    .wLabel-left,
    .wLabel-left-top {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 70px;
        text-align: right;
        margin: 0 0 7px 0;
    }
}
//END FormStyle
.cols.col-1{
	width: 8.333333333333333%;
}
.cols.col-2{
	width: 16.66666666666667%;
}
.cols.col-3{
	width: 25%;
}
.cols.col-4{
	width: 33.33333333333333%;
}
.cols.col-5{
	width: 41.66666666666667%;
}
.cols.col-6{
	width: 50%;
}
.cols.col-7{
	width: 58.33333333333333%;
}
.cols.col-8{
	width: 66.66666666666667%;
}
.cols.col-9{
	width: 75%;
}
.cols.col-10{
	width: 83.33333333333333%;
}
.cols.col-11{
	width: 91.66666666666667%;
}
.cols.col-12{
	width: 100%;
}
